.container {
  display: flex;
}
.container div.box1 {
  background-color: red;
  width: 150px;
  height: 100px;
}

.box2, .box3 {
    background-color: blue;
    width: 150px;
    height: 100px;
    margin: 10px;
  }
  
  .box3 {
    width: 300px;
  }

